header.headerBlog {
    height: 75vh;
    background: url(../assets/blog-header-1.jpg);
    background-size: cover;
    background-attachment: center;
    border: 1px solid orange;

    .headerMain {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        h1 {
        font-size: 80px;
        margin-left: 10%;
        margin-bottom: 10%;
        color: $yellow;
        font-weight: 700;
        }
    }  
}