section.post {
    width: 60%;
}

.postContent {
    margin-top: -275px;

    .postImg {
        @include yellowShadowLeft;
        width: calc(100% - 20px);
        float: right;
    }

    .blogPost {
        clear: both;
        border-left: 5px solid $accent;
        border-bottom: 5px solid $accent;
        padding: 100px 0 50px 50px;
        margin-right: 150px;

        h2 {
            @include JoseBold(2.15rem);
        }
        p.date {
            color: $darkPrimary;
            font-style: italic;
            margin-top: 5px;
        }

        p.date span {
            font-weight: 700;
        }

        p:last-of-type {
            margin-bottom: 0px;
        }
    }

    .comments {
        padding: 50px 0 0 50px;
        margin-right: 150px; 
    }
}

.commentItem {
    display: flex;
    justify-content: space-between;

    .commentImg {
        width: 15%;
    }

    .commentText {
        width: 80%;

        p {
            margin-top: 5px;
        }
    }
}

.commentItem:nth-of-type(2) {
    margin-top: 100px;
}

.commentForm {
    margin: 80px 0;

    form {
        display: flex;
        flex-direction: column;

        .formTop {
            display: flex;
            justify-content: space-between;
        }
    }
}


@media (max-width: 1100px) {

    section.post {
        width: 80%;
        order: 1
    }

    .postContent {

        .blogPost {
            padding: 100px 50px 50px 50px;
            margin-right: 0px;
        }

        .comments {
            padding: 50px 50px 0 50px;
            margin-right: 0px; 
        }
    }

    .commentItem:nth-of-type(2) {
        margin-top: 60px;
    }
}

@media (max-width: 800px) {
    .postContent {
        .blogPost{
            h2 {
                font-size: 1.8rem;
            }
        }
    }

    .comments {
        h2 {
            font-size: 1.5rem
        }
    }

    .commentItem {
        .commentText {
            h3 {
                font-size: 1.1rem;
            }
        }
    }
}

@media (max-width: 550px) {
    .postContent {
        margin-top: -160px;

        .comments {
            padding: 50px 0 0 0;
        }

        .blogPost {
            padding: 60px 0px 50px 5px;

            h2 {
                font-size: 1.3rem;
            }
        }
    }

    .comments {
    
        h2 {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
    }

    .commentItem {
        flex-direction: column;
        align-items: center;
        
        .commentImg {
            width: 50%;
            margin-bottom: 10px;

        }

        .commentText {
            h3 {
                font-size: 0.9rem;
            }
        }
    }

}