main.mainBlog {
    display: flex;
    justify-content: space-between;
    background: $offWhite;
}

section.info {
    width: 30%;
    padding-top: 120px;
}

.infoContent {
    overflow: hidden;

    .infoImg {
        width: calc(100% - 20px);
    }

    .infoText {
        background: #fff;
        color: $black;
        padding-top: 330px;
        padding: 330px 20px 30px;
        margin-top: -306px;
        width: 75%;
        float: right;

        h2 {
            @include JoseBold(1.2rem);
            text-transform: capitalize;
            letter-spacing: 1px;
        }
    }
}

.infoAbout {
    margin-bottom: 20px;

    a {
        font-style: italic;
        font-weight: 700;
        color: $darkPrimary;
    }
}

.infoPosts {

    ul {
        list-style: initial;
        margin-left: 30px;
        color: $primary;
        font-size: 0.6rem;
        line-height: 1.5;
        
        span {
            font-size: 1rem;
            color: $black;
            padding-left: 10px;  
        }
    }
}

@media (max-width: 1100px) {

    main.mainBlog {
        flex-direction: column;
        align-items: center;
    }

    section.info {
        width: 80%;
        padding: 0;
        margin-top: 0;
        order: 2;
    }

    .infoContent {
        display: flex;
        align-items: center;
        margin: 50px 0;

        .infoImg {
            width: 50%;
            margin: 20px;
        }

        .infoText {
            width: 50%;
        }
    }
}

@media (max-width: 850px) {

    .infoContent {
        flex-direction: column;
        width: 100%;

        .infoImg {
            width: 60%;
            @include yellowShadowRight
        }

        .infoText {
            width: 100%;
            margin: -10px 0 0;
            padding: 20px;
            text-align: center;
        }
    }
}

@media (max-width: 550px) {
    
   .infoContent {

        .infoImg {
            width: 80%;
        }

        .infoText {
            
            h2 {
                @include JoseBold(1rem);
                margin-bottom: 10px;
            }

            li span {
                font-size: 0.8rem;
            }
        }
    } 
}