section.contactFormSection {
    width: 58%;
    margin-right: 5%;
    margin-top: -260px;
}

.contactForm {
    width: calc(100% - 20px);
    padding: 50px;
    float: right;
    background: #fff;
    @include yellowShadowLeft;

    form {
        display: flex;
        flex-direction: column;

        .formTop {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1100px) {
    section.contactFormSection {
        order:1;
        width: 80%;
        margin: -260px 0 0;
    }
}

@media (max-width: 650px) {
    .contactForm {
        padding: 30px;
    }

    form {

        .formTop {
            flex-direction: column;

            input {
                width: 100%;
            }
        }
    }
}

@media (max-width: 550px) {
    section.contactFormSection {
        margin: -160px 0 0;
    }
}