header {
    display: flex;
    flex-direction: column;
}

.headerTop {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 60px;

    .wrapper {
        display: flex;
        align-items: center;
    }
}

.blackBanner {
    background: rgba(0,0,0,0.9);
} 

h1.logo {
    font-size: 2rem;
    color: #fff;
    width: 20%;
}

.headerNav {
    width: 40%;
}

.headerNav ul {
    display: flex;
    justify-content: space-between;
}

.headerNav a {
    text-transform: uppercase;
    transition: all 0.3s;
}

.headerNav a:hover {
    color: $accent;
}

// RESPONSIVE NAVIGATION
.responsiveNav {
    background: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0.8));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px;
    z-index: 20;
    // display: none;
    
    i {
        float: right;
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            color: $accent;
        }
    }
    
    ul {
        clear:both;
        text-align: center;
        font-size: 2rem;
    }

    li {
        margin: 20px 0;
    }

    a {
        transition: all 0.5s;
    }

    a:hover {
        color: $accent;
    }
}

.responsiveNavIcon {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10%;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: $accent;
    }
}

@media (max-width: 1100px) {

    .headerTop {

        .wrapper {
            justify-content: space-between;
        }
    }
    
    .headerNav {
        width: 70%;
    }
}

@media (max-width: 940px) {

    h1.logo {
        width: 30%;
    }

    .headerNav {
        width: 70%;
    }
}

@media (max-width: 700px) {

    .headerNav {
        display: none;
    }

    .responsiveNavIcon {
        display: block;
    }
}

@media (max-width: 550px) {
    
    h1.logo {
        font-size: 1.2rem;
    }
}