section.about {
    background: $offWhite;

    .aboutTextBox {
        margin: 0 auto;
        padding: 250px 0;
        width: 60%;
        text-align: center;
        border: 1px solid purple;

        h2 {
            @include JoseBold(2.815rem);
            letter-spacing: 1.3px;
        }
    }
}

@media (max-width: 900px) {
   section.about {

        .aboutTextBox {
            padding: 200px 0 150px;
            width: 80%;

            h2 {
                @include JoseBold(2.5rem);
            }
        }
    } 
}

@media (max-width: 760px) {
   section.about {

        .aboutTextBox {
            padding: 150px 0 100px;

            h2 {
                @include JoseBold(2rem);
            }
        }
    } 
}

@media (max-width: 550px) {
   section.about {

        .aboutTextBox {

            h2 {
                @include JoseBold(1.6rem);
            }
        }
    } 
}


@media (max-width: 450px) {
   section.about {

        .aboutTextBox {
            padding: 100px 0 100px;
        }
    } 
}

@media (max-width: 350px) {
   section.about {

        .aboutTextBox {
            padding: 75px 0 100px;
        }
    } 
}