section.founder {
    background: $offWhite;
    padding: 140px 0 100px;
}

.founderContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .founderImg {
        width: 25%;
        @include yellowShadowRight;
    }

    .founderText {
        width: 65%;

        h2 {
            @include JoseBold(2.1rem);
            letter-spacing: 1px;
        }

        p {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 1000px) {

    .founderContent {
        align-items: center;

        .founderImg {
            width: 30%;
        }
    }
}

@media (max-width: 850px) {

    section.founder {
        padding: 100px 0 100px;
    }

    .founderContent {
        flex-direction: column;

        .founderImg {
            width: 40%;
        }

        .founderText {
            width: 100%;
            margin-top: 50px;
            text-align: center;
        }
    }
}

@media (max-width: 550px) {
    
    .founderContent {

        .founderImg {
            width: 60%;
        }

        .founderText {

            h2 {
                font-size: 1.5rem;
            }
        }
    }
}